xcuserdata/
cubacadabra/Resources/game.luau
cubacadabra/Resources/manifest.json
cubacadabra/Resources/game-package/
cubacadabra/Resources/assets/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
target
Cargo.lock
playground.xcworkspace
.build/
build/
__pycache__/
.env
Gemfile.lock
